:root{
    --bg-white:white;
    --color-white:white;
    --bg-black:black;
    --color-black:black;
    --bg-grey:gainsboro;
    --color-grey: gainsboro;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: white;
    font-family: 'Josefin Sans';
 
    ol,ul{
        list-style: none;
    }

    button{
        cursor: pointer;
    }

    a{
        text-decoration: none;
    }

    .cointeyner{
        max-width: 999px;
        min-width: 340px;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }
}
